/* main*/
header {
  display: block;
}

@font-face {
  src: url(Audiowide-Regular.ttf);
  font-family: Audio;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
  font-size: 30px;
  font-family: Audio;
}

h2 {
  text-decoration: underline;
  padding-left: 12px;
}

img {
  margin: 8px;
}

form {
  display: inline;
  border: 1 px black solid;
}

.container {
  margin-left: 100px;
  margin-right: 100px;
}

footer {
  background-color: rgb(119, 116, 114);
}

/*hover*/
.btn:hover {
  background-color: rgb(207, 32, 61);
}

.right li a:hover {
  background-color: black;
}

/*other image properties*/
.profile-image-wrapper {
  width: 40%;
  height: 280px;
}
.profile-image-wrapper img {
  height: 100%;
}

.img_center {
  display: block;
  margin-left: 40px;
  margin-right: auto;
}

/*button properties*/
.btn {
  background-color: lightcoral;
  border: none;

  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

/* logo and menus*/
.static {
  top: 0;
  position: static;

  height: 120px;
  background-color: grey;
}

.right {
  float: right;
}

header nav ul li {
  display: inline;
  font-weight: 400;
}

#skill progress {
  width: 650px;
}
/* .border_for_blocks.inner {
  margin-left: 350px;
} */

.right li a {
  text-decoration: none;
  float: left;
  color: white;
  padding: 10px;
}

/*to keep space in introduction*/
.intro_spacing {
  width: 60%;
}

/* Align and give border to the blocks of education,experience,etc*/
.align {
  display: flex;
  margin: auto;
  justify-content: space-between;
  clear: both;
}

.border_for_blocks {
  border: 1px black solid;
  width: 100%;
  margin: 2px;
  box-shadow: 5px 10px #888888;
  background-color: lightblue;
}

/*to put icons of facebook,instagram in center*/
.tocenter {
  margin-left: 20px;
  margin-right: auto;
}

/* to align copyright text to center*/
.align_text {
  text-align: center;
}

/* On smaller screens, where height is less than 768px,*/
@media screen and (max-width: 768px) {
  .align {
    flex-direction: column;
  }
  .profile-image-wrapper {
    width: 100%;
    height: 400px;
  }
  .profile-image-wrapper img {
    width: 100%;
    object-fit: cover;
  }
  .intro_spacing {
    max-width: 100%;
  }

  #skill progress {
    width: 320px;
  }
}

@media screen and (max-width: 416px) {
  #skill progress {
    width: 93px;
  }

  .btn {
    background-color: lightcoral;
    border: none;

    color: white;
    padding: 15px 18px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-right: 15px;
  }
}
